<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tbody th:each="company: ${companyList}">
    <tr>
        <th>회사ID</th>
        <th>회사명</th>
        <th>임차인ID</th>
        <th>호실</th>
        <th>임대시작일</th>
        <th>임대종료일</th>
    </tr>
    <tr th:each="tenant:${company.tenants}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.companyName}"></td>
        <td th:text="${tenant.id}"></td>
        <td th:text="${tenant.roomNum}"></td>
        <td th:text="${tenant.contractAt}"></td>
        <td th:text="${tenant.terminationAt}"></td>
    </tr>
    </tbody>
</table>
<a href="/">홈으로</a>
</body>
</html>