@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");
.gothic {
    font-family: 'Nanum Gothic', scan-serif; /*웹 폰트 지정*/
    font-weight:500;
    color: floralwhite;
    text-decoration-line: none;
    box-sizing: border-box;
    margin: 10px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    width:50px;
    border-radius: 5px 5px 5px 5px;
}
a.gothic, h3.gothic {
    font-family: 'Nanum Gothic', serif; /*웹 폰트 지정*/
    font-weight:500;
    color: floralwhite;
    text-decoration-line: none;
    box-sizing: border-box;
    margin: 10px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    width:max-content;
    border-radius: 5px 5px 5px 5px;
}
.nanum {
    font-family: 'Nanum Gothic', serif; /*웹 폰트 지정*/
    font-weight:500;
    color: #343434;
    text-decoration-line: none;
    box-sizing: border-box;
    margin: 10px 0px 0px 10px;
    padding: 5px 5px 5px 5px;
    width:max-content;
    border-radius: 5px 5px 5px 5px;
}
a{
    display: block;
}
.gothic:active{
    background-color: #242424;
}
label, input, textarea{
    display: inline-block;
}
HTML, body{
    margin: 0px; padding: 0px;
    background-color: #343434;
}
textarea {
    border: none;
    resize: none;
}
th.gothic, td.gothic{
    border-bottom: 1px solid floralwhite;
    border-radius: 0px 0px 0px 0px;
}