<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css?ver=1" />
    <title>MyBlog | 회원가입</title>
</head>
<body>
<h3 class="gothic">회원가입</h3>
<form method="post" action="/join">
    <label class="gothic" for="id">Name:</label>
    <input class="nanum" type="text" id="id" name="id" required/>
    <br>
    <label class="gothic" for="password">PW:</label>
    <input class="nanum" type="password" id="password" name="password" required/>
    <br>
    <input class="nanum" type="submit" value="회원가입"/>
</form>
<br>
<a class="gothic", href="/">◂뒤로가기</a>
</body>
</html>