<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css?ver=1" />
    <title>MyBlog | 로그인</title>
</head>
<body>
<h3 class="gothic">로그인</h3>
<form method="post" action="/login">
    <label class="gothic" for="name">ID:</label>
    <input class="nanum" type="text" id="name" name="name" required/>
    <br>
    <label class="gothic" for="password">PW:</label>
    <input class="nanum" type="password" id="password" name="password" required/>
    <br>
    <input class="nanum" type="submit" value="로그인"/>
</form>
<br>
<a class="gothic", href="/">◂뒤로가기</a>
</body>
</html>