<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css?ver=1" />
    <title>MyBlog | 건의</title>
</head>
<body>
<h3 class="gothic">건의</h3>
<form method="post" action="/newIdea">
<!--  <label class="gothic" for="diTitle"></label>-->
  <input class="nanum" type="text" id="idTitle" name="idTitle" placeholder="Title" required/>
  <br>
<!--  <label class="gothic" for="diContext"></label>-->
  <div style="width: 500px;">
  <textarea class="nanum" style="width: 100%; height: 300px" id="idContext" name = "idContext" placeholder="Context"></textarea>
  </div>
    <br>
  <input class="nanum" type="submit" value="저장하기"/>
</form>
<a class="gothic", href="/ideaList">◂뒤로가기</a>
</body>
</html>