<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css?ver=1" />
    <title>MyBlog | 취미</title>
</head>
<body>
<h3 class="gothic">취미</h3>
<table style="width: 500px">
    <tbody>
    <tr>
        <th style="width: 30%" class="gothic">제목</th>
        <th style="width: 40%" class="gothic">내용</th>
        <th style="width: 30%" class="gothic">날짜</th>
    </tr>
    <tr th:each="hobby: ${hobby}">
        <td class="gothic" th:text="${hobby.hoTitle}"></td>
        <td class="gothic" th:text="${hobby.hoContext}"></td>
        <td class="gothic" th:text="${hobby.hoDate}"></td>
    </tr>
    </tbody>
</table>
<!--<form method="post" action="/hobby">-->
<!--    <input class="nanum" type="date" id="hoDate" name="hoDate" required/>-->
<!--    <br>-->
<!--    <input class="nanum" type="submit" value="이동하기"/>-->
<!--</form>-->
<br>
<a class="gothic" href="/hobby">글쓰기</a>
<a class="gothic", href="/menu">◂뒤로가기</a>
</body>
</html>